SUPABASE_URL=https://xosnfimmwrfnwjtosoqr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhvc25maW1td3JmbndqdG9zb3FyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY1MTUyNzQsImV4cCI6MjEwMjA5MTI3NH0.FzkeuTKZ8MAHYGPv4Un8soJhD2n3IJa5GoeMCNV3Z3Q
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhvc25maW1td3JmbndqdG9zb3FyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjUxNTI3NCwiZXhwIjoyMTAyMDkxMjc0fQ.2pBo6xMYD_fGXOnfW3wSskSA4ZxF1QJOXjk6klD_2po
